/* Universal Login Box
**************************************************************************/

#loginBox {
	float: left;
	margin: 0;
	padding: 5px .8em;
	text-align: left;
}

#loginBox p {
	margin: 10px;
	background: none;
	font-size: 1.0em; line-height: 1.875em;
}

#loginBox a {
	#text-decoration: none;
	margin: 8px;
}

#loginInfo {
	float: right;
	padding: 10px 10px 10px 10px;
	background: #EEE;
	border: 1px solid #CCC;
	text-align: left;
}
#loginInfo h4 {
	font-size: 1.0em; line-height: 1.5em;
	color: #006699;
}
#loginInfo ol.benefitList li {
	line-height: 1.5em;
}

/* Folder Menu
**************************************************************************/

.folders a {
	text-decoration: none;
}

.folders img {
	vertical-align: bottom;
}

.folders img {
	vertical-align: bottom;
}

/* Struts User Messages
**************************************************************************/

.strutsMessage {
	margin: 0 0 1em 0;
	padding: 0 0 12px 0;
	font-size: 95%;
	line-height: 1.5em;
}

.strutsMessage ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #CCC;
}

.strutsMessage ul li {
	margin: 0;
	padding: 0.25em 0 0.25em 15px;
	border-top: 1px solid #CCC;
	list-style: none;
	background: #FFF url(http://www.ngbw.org/images/li-bullet.gif) no-repeat 0 0.5em;
}

.strutsConfirm {
	font-weight: bold;
	color: #00A000;
}

.strutsError {
	font-weight: bold;
	color: #FF0000;
}

/* NGBW Web Application Rendering Styles
**************************************************************************/

.username {
	color: #D40;
	font-size: 110%;
}

.prompt {
	color: #F00;
	font-weight: bold;
	font-style: italic;
}

.link {
	background-color: #FFF;
	margin: 8px;
	padding: 8px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #888;
	border-bottom: 2px solid #888;
}

span.button {
   background: transparent url(../images/bg_button_a.gif) no-repeat top right;
   font: normal 12px arial, sans-serif;
   color: #666!important;
   display: block;
   float: left;
   height: 24px;
   margin-right: 6px;
   padding-right: 18px; /*sliding doors padding */
   text-decoration: none;
}

span.button  a {
   background: transparent url(../images/bg_button_div.gif) no-repeat;
   display: block;
   line-height: 14px;
   padding: 5px 0 5px 18px;
   text-decoration: none;
}

span.button:active {
   background-position: bottom right;
   color: #000;
   outline: none; /* die gepunktete Linie im FF abschalten */
}

span.button:active a {
   background-position: bottom left;
   color: #000!important;
   padding: 6px 0 4px 18px; /* Text 1px nach unten verschieben */
}

.taskProperty a {
	text-decoration: none;
}

.simpleLink a {
	text-decoration: none;
}

.listLink a {
	font-size: 90%;
}

.data {
	width: 150px;
	margin: 10px;
	text-align: center;
}

.source {
	background-color: #FFF;
	padding: 5px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

table.listOptions {
	clear: both;
}

.listOptions td {
		vertical-align: middle;
			padding: .5em 9px .5em 0;
			padding-right: 1.5em;
}

a.tool {
	color: #000;
	font-size: 125%;
	font-weight: bold;
	text-decoration: none;
}

a.tool:hover {
	color: #000;
}

a.tool:visited {
	color: #000;
}

a.selectedTool {
	color: #000;
	font-size: 135%;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

a.selectedTool:hover {
	color: #000;
}

a.selectedTool:visited {
	color: #000;
}

.form {
	padding: 10px;
	background: #FFF;
	border: 1px solid #000;
	margin-bottom: 2em;
}

.form th {
	text-align: right;
}

.clear {
	clear: both;
}

div.navInner {
margin-bottom: 0;
}

.records {
	width: 240px;
}

/* Tabbed Box Styles 
**************************************************************************/
div.tabbedBox {
	clear: both;
	padding: 1.5em;
	background: #FFF;
	border: 1px solid #aaa;
	border-top: none;
	margin-top: 0;
}

div.tabbedBox h1, div.tabbedBox h2, div.tabbedBox h3, div.tabbedBox h4 {
	padding-top: 0;
	padding-bottom:  0;
	margin-bottom: 0;
	color: #000;
}

div.tabbedBox .searchHelp a, div.tabbedBox .searchHelp a:link {
	background: #fefde0;
	border: 1px solid #d8d8ae;
	padding: 5px;
}

/* Table row styles
**************************************************************************/
.list {
	clear: both;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
	margin-bottom: 1.5em;
	/*
	width: 672px;
	*/
	width: 650px;
}

.list .tableroww {
	background-color: #FFF;
	font-weight: normal;
}

.list .tablerowb {
	background: #EEE url(../images/tdRow.gif) repeat-x top left;
	color: #000000;
	font-weight: normal;
}

table.list th {
	font-size: 100%;
	background: #666 url(../images/thRow.gif) repeat-x top left;
	color: #FFF;
}

.list th, .list td {
	padding: .25em .75em;
	border-bottom: 1px solid #ccc;
}

.list th.selectCell {
	width: 12%;
}

td.search select {
	width: 200px;
}

td.search input {
	width: 200px;
}

table.cpu {
}

table.cpu td {
}

table.cpu td.cpu {
	white-space: nowrap;
	text-align: right;
}

.attention1 {
	color: black;
	font-weight: bold;
	padding-right: 9px;
}

.attention2 {
	color: red;
	font-weight: bold;
	padding-right: 9px;
}


/* Page Nav for Data Page
**************************************************************************/
table.pageNav {
	clear: both;
}

table.pageNav td {
	padding-right: 9px;
}

table.pageNav div.arrows {
	background: #EEE;
	border: 1px solid #ccc;
	padding: 0.25em 0;
	vertical-align: middle;
	width: 135px;
	text-align: center;
}

table.pageNav img {
	vertical-align: middle;
	margin-bottom: 3px;
}

/* Standard Table style (For a standard looking table wrap any table with <div class="standard"></div> 
**************************************************************************/
.standard table {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-collapse: collapse;
}

.standard th, .standard td {
	padding: 2px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

/* Boxshade table styles
**************************************************************************/
.boxshade table {
	border:none;
	border-collapse: collapse;
	font-family: "Courier New", Courier, mono;
}

.boxshade th, .boxshade td {
	padding: 0;
	border: none;
}


/* Parameters Styles
**************************************************************************/

#parameters div.pad {
	padding-top: 1em;
}

#parameters h2 {
	margin-bottom: 0;
	padding: 0.2em 0 0.2em 10px;
	background: #EEE url(../images/tdRow.gif) repeat-x top left;
	border-bottom: 1px dotted #222;
	display: block;
	font-weight: normal;
}

#parameters a.panel {
	font-size: 1.1em;
	font-weight:normal;
	display: block;
	font-weight: normal;
	background: #EEE url(../images/panel_bg.gif) no-repeat top right;
	padding: 0.2em 0 0.4em 10px;
	border-bottom: 1px dotted #999;
}

#parameters a:hover.panel {
	background: #EEE url(../images/panel_bg_up.gif) no-repeat top right;
	border-bottom: 1px dotted #999;
}

.warningPlain {
	color: #fc2113;
}

table.appTable {
	margin-bottom: 1.5em;
}

table.appTable td {
	padding: .5em 9px .5em 0;
	vertical-align: middle;
}

/* Select fields
**************************************************************************/
select#paginateData_pageSize {
	width: 50px;
}
select              { border:1px solid #ccc; background:#f6f6f6; }
select:focus        { border:1px solid #999; background:#fff; }

/* Return to ngbw.org link
*********************************************************************************/
#returnLink {
	float: right;
	font-size: 110%;
	text-decoration: none;
	margin-top: 10px;
	padding-left: 20px;
	background: transparent url(../images/return.gif) no-repeat 0 2px;
}

/* Folder
**************************************************************************/
#column {
	width:200px;
}
.form {
	padding: 10px;
	background: #FFF;
	border: 1px solid #000;
	margin-bottom: 2em;
}
.form th, td {
	text-align: left;
	background: #FFF;
}
